<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="printer1" class="lab2.practice.MessagePrinter">
        <property name="message" value="user"/>
    </bean>

    <bean id="printer2" class="lab2.practice.MessagePrinter">
        <property name="message" value="password"/>
    </bean>

    <bean id="printer3" class="lab2.practice.MessagePrinter">
        <property name="message" value="url"/>
    </bean>

    <bean id="propertyPlaceholder" class="lab2.practice.PropertyPlaceholder"/>
</beans>